#parse("head.html")
<ol class="breadcrumb" style="margin-top:0px;">
    <li class="active"><a href="../UI/HrRecomend.ashx">Hr分享</a></li>

    <li class="active">$data.ArticleInfo.title</li>
</ol>
   
   <h2 style="text-align:center">$data.ArticleInfo.title</h2>
<p style="text-align:center;">
    作者：$data.ArticleInfo.author&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    文章来源：$data.ArticleInfo.src&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    发布时间：$data.ArticleInfo.pubTime
</p>
<hr />
    $data.ArticleInfo.article
#parse("foot.html")