<div class="pageContent">

    <form method="post" action="../UI/Edit/DishjudgeEdit.ashx" class="pageForm required-validate" onsubmit="return validateCallback(this ,dialogAjaxDone)" enctype="multipart/form-data">
        <input type="hidden" name="Action" value="$data.Action" />
        <input type="hidden" name="id" value="$!data.Model.id" />
        <input type="hidden" name="Save" value="save" />
        <div class="pageFormContent nowrap" layouth="97">
            <dl>
                <dt>菜肴名称：</dt>
                <dd>
                    <select class="select" name="itemsName">
                        #foreach($item in $data.Items)
                        #if($data.Model.itemsName == $item.itemsName)
                        <option value="$item.itemsName" selected>$item.itemsName</option>
                        #else
                        <option value="$item.itemsName">$item.itemsName</option>
                        #end
                        #end
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>评论用户：</dt>
                <dd>
                    <input type="text" name="userName" class="required" value="$!data.Model.userName" />
                </dd>
            </dl>
            <dl>
                <dt>评论信息：</dt>
                <dd>
                    <textarea name="commment" class="required" cols="80" rows="10">$!data.Model.commment</textarea>
                </dd>
            </dl>
            <dl>
                <dt>用户IP：</dt>
                <dd>
                    <input type="text" value="$!data.Model.userIp" id="upload" name="userIp" class="required" size="30" />
                </dd>

            </dl>
            <dl>
                <dt>评论日期：</dt>
                <dd>
                    <input type="text" name="date" value="$!data.Model.date" class="date textInput readonly valid" datefmt="yyyy-MM-dd HH:mm:ss" readonly="true">
                    <a class="inputDateButton" href="javascript:;">选择</a>
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>