<div class="pageContent">
    <form method="post" action="../UI/Edit/OrderEdit.ashx" class="pageForm required-validate" onsubmit="return validateCallback(this ,dialogAjaxDone)" enctype="multipart/form-data">
        <input type="hidden" name="Action" value="$data.Action" />
        <input type="hidden" name="id" value="$!data.Model.id" />
        <input type="hidden" name="Save" value="save" />
        <div class="pageFormContent nowrap" layouth="97">
            <dl>
                <dt>订单号：</dt>
                <dd>
                    <input type="text" name="orderNum" class="required readonly" value="$!data.Model.orderNum" readonly="readonly" />
                </dd>
            </dl>
            <dl>
                <dt>订几桌：</dt>
                <dd>
                    <input type="number" name="deskNum" class="required readonly" value="$!data.Model.deskNum" readonly="readonly" />
                </dd>
            </dl>
            <dl>
                <dt>订餐人：</dt>
                <dd>
                    <input type="text" name="userName" class="required readonly" value="$!data.Model.userName" readonly="readonly" />
                </dd>
            </dl>
            <dl>
                <dt>下单时间：</dt>
                <dd>
                    <input type="text" name="orderTime" value="$!data.Model.orderTime"  readonly="readonly">
              </dd>
            </dl>
            <dl>
                <dt>备注：</dt>
                <dd>
                    <textarea name="mark" class="required readonly" cols="80" rows="10" readonly="readonly">$!data.Model.mark</textarea>
                </dd>
            </dl>
            <dl>
                <dt>总价钱：</dt>
                <dd>
                    <input type="text" name="totalPay " class="readonly" value="$!data.Model.totalPay" readonly="readonly" />
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>订单状态：</dt>
                <dd>
                    <select class="select" name="statu">
                        #if($!data.Model.statu == "待处理")
                        <option value="待处理" selected>待处理</option>
                        <option value="已处理">已处理</option>
                        #else
                        <option value="待处理">待处理</option>
                        <option value="已处理" selected>已处理</option>
                        #end
                    </select>
                </dd>
            </dl>

        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>